.pagination {
  display: flex;
  justify-content: space-between;
  width: fit-content;
  list-style: none;
  padding: 10;
  gap: 5px;
  align-self: center;
  margin: auto;
  margin-top: 10px;
}

.lii {
  display: inline-block;
  border: 3px solid black;
  width: 30px;
  display: flex;
  justify-content: center;
  background-color: #ffdea4;
}

.lia {
  text-decoration: none;
  color: black;
  font-size: 16px;
  cursor: pointer;
}

.activelinkclass {
  color: black;
}
.activeclass {
  background-color: #d79771;
}

.lia:hover {
  color: #b05b3b;
}
