.container {
  display: flex;
  margin-top: 2rem;
  align-items: center;
  justify-content: center;
}

.selector {
  background-color: #d79771;
  padding: 1rem;
}

.choose-list {
  margin-right: 0.5rem;
  color: white;
  font-weight: bold;
}

.button {
  margin-left: 2rem;
}

.delete-message {
  margin-top: 2rem;
  text-align: center;
  font-weight: bold;
  font-size: large;
}
