.admin-panel {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  gap: 1rem;
}

.admin-button {
  background-color: #753422;
  border: none;
  color: white;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}
