.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-container {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 2rem;
}

.list-card {
  width: 40rem;
  background-color: #d79771;
  border: 2px solid black;
  padding: 0.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2rem 2rem 2rem;
  gap: 1rem;
  justify-items: center;
  align-items: center;
}

.title,
.description {
  grid-column: 1/3;
}

.center {
  text-align: center;
}
