.container {
  background-color: red;
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  margin-top: 30px;
  gap: 30px;
  padding: 20px;
}

.list-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: green;
  margin-left: 20%;
  align-items: baseline;
}

.list-item {
  display: flex;
  background-color: teal;
  border: 3px solid black;
  padding: 10px;
  margin-bottom: -3px;
  width: 600px;
  align-items: center;
  justify-content: space-between;
}

.sort-container {
  width: 200px;
  padding: 10px;
  background-color: violet;
}

.sort-title {
  padding: 10px;
  background-color: yellow;
}

.sort-items {
  padding: 10px;
  background-color: green;
}
