.admin-panel {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  gap: 1rem;
}

.admin-button {
  background-color: #753422;
  border: none;
  color: white;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.admin-button:active {
  background-color: #d79771;
  border: none;
  color: white;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.error-message {
  margin-top: 2rem;
  text-align: center;
  font-weight: bold;
  font-size: large;
}
