.header {
  position: fixed;
  top: 0;
  height: 4rem;
  width: 100%;
  background-color: #753422;
  z-index: 1;
  display: flex;
}

.container {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.left-container {
  justify-content: flex-start;
}

.right-container {
  justify-content: flex-end;
}

.header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: baseline;
}

.header li {
  margin: 0 1rem;
}

.header a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 16px;
}

.header a:hover {
  color: rgb(199, 195, 195);
}

.button {
  font-size: 16px;
  font-weight: bold;
  background-color: #753422;
  border: none;
  color: white;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.button:hover {
  color: rgb(199, 195, 195);
}
