.filter-container {
  padding: 1rem;
  background-color: #d79771;
  position: absolute;
  width: 13rem;
  top: 0rem;
  left: -25rem;
}

.filter-title {
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 0.5rem;
}

.year-filter--title {
  color: white;
  padding: 10px;
  text-align: center;
  background-color: #b05b3b;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.year-filter--selector {
  text-align: center;
}

.category-filter--title {
  color: white;
  padding: 10px;
  text-align: center;
  background-color: #b05b3b;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.category-item {
  text-decoration: none;
  color: white;
  font-weight: bold;
  margin-top: 1rem;
}

.category-item:hover {
  color: rgb(199, 195, 195);
  cursor: pointer;
}

.center {
  text-align: center;
}
