.container {
  display: flex;
}

.cover {
  height: 6rem;
  padding-right: 1rem;
}

.book-item {
  background-color: #ffdea4;
  border: 3px solid black;
  padding: 0.5rem;
  margin-bottom: -3px;
  width: 600px;
  color: black;
  display: flex;
  align-items: center;
}

.add {
  background-color: #753422;
  border: none;
  color: white;
  text-align: center;
  justify-self: center;
  align-self: center;
  text-decoration: none;
  cursor: pointer;
  grid-column: 1/3;
  padding: 10px;
  font-weight: bold;
  margin-left: 0.5rem;
}

.red {
  background-color: red;
  color: red;
  visibility: hidden;
}
