.container {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  margin-top: 6rem;
  gap: 30px;
}

.search {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: #b05b3b;
  margin-left: 30rem;
  align-items: baseline;
  justify-items: center;
  width: auto;
  position: relative;
}

.search--input {
  display: flex;
  width: 600px;
  gap: 30px;
  padding: 20px;
}

.search--field {
  width: 300px;
  height: 40px;
}

.center {
  align-self: center;
}
