.new-comment {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  justify-content: center;
  align-items: center;
}

.new-comment--input {
  width: 40rem;
  height: 10rem;
  margin-bottom: 20px;
  font-size: 18px;
  padding: 5px;
}

.new-comment--success {
  margin-top: 1rem;
  text-align: center;
  font-weight: bold;
}
